/* base variables */
html {
  /* sizes */
  --title-size: 50px;
  --body-size: 1.075rem;
  --code-size: 14px;
  --aside-size: 1rem;
  --fig-cap-size: 1rem;
  
  /*-- Main font colors --*/
  --title-color: #009980;
  --header-color: #00806a;
  --body-color: #404040;
  --aside-color: rgba(0, 0, 0, 0.6);
  --fig-cap-color: rgba(0, 0, 0, 0.6);
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.9rem;                      /* edited */
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.95rem;                     /* edited */
  --body-color:      rgba(0, 0, 0, 0.8);
}

.dt-tags .dt-tag {
    text-decoration: none;
    display: inline-block;
    color: #009980;
    padding: 0em 0.4em;
    margin-right: 0.5em;
    margin-bottom: 0.4em;
    font-size: 70%;
    border: 1.25px solid #009980;
    border-radius: 3px;
    font-weight: 500;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}


/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    1rem;
  --heading-color:   #009980;      
  --text-size:       0.9rem;                    /* edited */
  --text-color:      #1a162d;                   /* edited */
}

d-appendix a {
  color: #009688;
}

/* ---- REFERENCES ---- */
/* justify references */
#refs{
  text-align: justify;
}

/* space between references */
.csl-entry{
  margin-bottom: 1em;
}


/*-- Additional custom styles --*/

.posts-list .metadata .publishedDate {
    color: #ca225e;
}

/* Change bullets */
ul > li::marker {
  font-size: 1.125em;
  color: #ca225e;
}

p a  {
    color: #21b6a8;
    border-bottom: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

caption {
    display: table-caption;
    text-align: -webkit-left;
    padding-bottom: 0.2rem;
}

/* ------gt table ------*/
gt_table gt_sourcenote a {
  color: #21b6a8;
  border-bottom: none;
}


/*-------- WEBSITE HEADER + FOOTER -------*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size: 22px;
  --text-color: #206040;
  --text-size: 18px;
  --hover-color: #40bf80;
  --bkgd-color: #ecf9f2;
}

.distill-site-header {
  padding-top: 1rem;
  letter-spacing: 2px;
}

.distill-site-footer {
  --text-color:      #206040;                   /* edited */
  --text-size:        20px;
  --hover-color:     #000099;
  --bkgd-color:       #ecf9f2;
}

.distill-site-footer {
  padding-bottom: 1rem;
}